/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  position: relative;
  background-color: var(--screens-bg);
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  --screens-bg: #121212;
  --nav-bg: #000000;
  --player-tab-bg: #181818;
  --play-tab-top: #282828;
  --primaryText: white;
  --icon-fg: white;
  --icon-fg-inactive: rgb(143, 143, 143);
  --icon-fg-hover: rgb(46, 227, 0);
  --nav-divider-bg: rgba(255, 255, 255, 0.664);
  --scroll0: rgba(255, 255, 255, 0.556);
  --scroll1: white;
  --top-frame-height: 30px;
  --player-frame-height: 85px;
  --slider-fg: white;
  --slider-bg: #44494f;
  --nav-panel-width: 210px;
  --main-border-size: 20px;
  --big-cover-height: 250px;
  --track-item-height: 60px;
  --active-track-color: rgb(0, 255, 0);
  --library-search-bg: white;
  background-size: cover;
}

#root {
  height: 100vh;
  width: 100vw;
}

#sub-root {
  height: calc(100vh - (var(--player-frame-height)));
  width: inherit;
  overflow-y: overlay;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll0);
  border-radius: 10px;
}

#top-frame {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: row;
  z-index: 20;
  width: max-content;
  box-sizing: border-box;
  height: var(--top-frame-height);
  width: 100%;
}

#top-frame span[data-type="drag"] {
  display: flex;
  flex: 1;
  -webkit-app-region: drag;
}

#top-frame span[data-type="icons"] {
  display: flex;
  align-items: center;
  background-color: var(--screens-bg);
  padding: 0 5px;
}

#top-frame span span {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

#top-frame svg {
  display: flex;
  margin: 0 10px;
  color: var(--icon-fg);
  transition: all 0.3s ease-in-out;
}

#top-frame span span:hover svg {
  color: var(--icon-fg-hover);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: block;
  color: var(--primaryText);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: var(--primaryText);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px;
  display: block;
  color: var(--primaryText);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 10px;
  display: block;
  color: var(--primaryText);
}

#context-menus {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.context-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: fit-content;
  background-color: #44494f;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}

.context-menu-item {
  pointer-events: all;
  position: relative;
  display: flex;
  width: 100%;
  height: 45px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.context-menu-item:hover {
  background-color: #939393c9;
}

.context-menu-item h2 {
  margin: 0;
  width: 100%;
  font-size: 15px;
  height: fit-content;
}

#player-tab {
  display: flex;
  height: var(--player-frame-height);
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--player-tab-bg);
  border-top: 1px solid var(--player-tab-bg);
  gap: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
}

#player-tab .icon {
  display: flex;
  color: var(--icon-fg);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#player-tab .icon.active {
  color: var(--icon-fg-hover);
}

#player-tab .icon:hover {
  transform: scale(1.1);
}

.player-section {
  display: flex;
  width: 100%;
  align-items: center;
}

.player-cover {
  height: calc(var(--player-frame-height) - 20px);
  aspect-ratio: 1;
  border-radius: 20%;
  cursor: pointer;
}

.player-title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.player-title h3 {
  margin: 0px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-title p {
  margin: 0px;
  font-size: 13px;
  font-style: normal;
  color: #b4b4b4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-controls {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slider-bar {
  position: relative;
  display: flex;
  height: 5px;
  width: 100%;
  background-color: var(--slider-bg);
  border-radius: 20px;
  align-items: center;
  flex-direction: row;
}

.slider-knob {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  left: 100%;
  transform: translate(-50%);
  background-color: var(--slider-fg);
}

.slider-progress {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--slider-fg);
  border-radius: 15px;
}

.player-bar {
  appearance: none;
  outline: none;
  width: 40vw;
  min-width: 300px;
}

.player-seek-bar {
  width: 40vw;
  min-width: 300px;
}

.player-bar-time {
  margin: 0px 13px;
}

#nav-panel {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  height: 100%;
  min-width: var(--nav-panel-width);
  max-width: var(--nav-panel-width);
  background-color: var(--nav-bg);
  padding-left: var(--main-border-size);
  padding-right: var(--main-border-size);
  padding-top: 50px;
  box-sizing: border-box;
  gap: 10px;
}

.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  --nav-main-height: 30px;
  height: var(--nav-main-height);
  justify-content: space-around;
}

.nav-main svg {
  color: var(--icon-fg-inactive);
  height: var(--nav-main-height);
  width: var(--nav-main-height);
  transition: all 0.3s ease-in-out;
}

.nav-main .active {
  color: var(--icon-fg);
  cursor: pointer;
}

.nav-main .active:hover {
  scale: 1.2;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: color 0.3s ease-in-out;
  pointer-events: all;
  gap: 20px;
  cursor: pointer;
}

.nav-item-text {
  height: 38px;
  width: 100%;
  overflow: hidden;
  transition: inherit;
}

.nav-divider {
  display: block;
  width: 100%;
  background-color: var(--nav-divider-bg);
  height: 1px;
}

.nav-item .no-icon {
  display: none;
}

.nav-item svg {
  color: var(--icon-fg);
  width: 30px;
  height: 30px;
  transition: inherit;
}

.nav-item .nav-item-text h3 {
  font-size: 15px;
  margin: 10px 0px;
  width: max-content;
  transition: inherit;
}

.playlists {
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-width: 0px;
}

.playlists .nav-item .nav-item-text h3 {
  margin: 7px 0px;
  font-size: 17px;
}

.nav-item[data-active="false"] .nav-item-text svg,
.nav-item[data-active="false"] .nav-item-text h3 {
  color: var(--icon-fg-inactive);
}

.nav-item:hover .nav-item-text svg,
.nav-item:hover .nav-item-text h3 {
  color: var(--icon-fg);
}




#screens {
  background-color: var(--screens-bg);
  height: 100%;
  width: 100%;
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --prominent-color: var(--screens-bg);
  background: var(--screens-bg);
  box-sizing: border-box;
  padding-top: var(--top-frame-height);
  align-items: center;
  padding-bottom: var(--top-frame-height);
}

.screen-fg {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding-left: var(--main-border-size);
  padding-right: var(--main-border-size);
  padding-top: var(--main-border-size);
  gap: var(--main-border-size);
  box-sizing: border-box;
  height: 100%;
}

.screen-bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin-top: calc(var(--top-frame-height) * -1);
}

.screen-bg-start {
  background: linear-gradient(var(--prominent-color), var(--screens-bg));
  height: 450px;
  width: 100%;
}

.screen-bg-end {
  flex: 1;
  background-color: var(--screens-bg);
}

.screen-top {
  display: flex;
  height: max-content;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
}

.screen-top img {
  display: flex;
  height: var(--big-cover-height);
  aspect-ratio: 1;
  width: auto;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%),
    0.3em 0.3em 1em rgb(0 0 0 / 30%);
}

.screen-top span {
  display: flex;
  height: var(--big-cover-height);
  flex-direction: column;
  margin: 0px var(--main-border-size);
  max-width: 50%;
}

.screen-top h1 {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.screen-content {
  display: flex;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.track-items {
  box-sizing: border-box;
  flex: 1;
  padding-top: var(--main-border-size);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.track-item {
  display: flex;
  position: relative;
  height: var(--track-item-height);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: calc(var(--track-item-height) / 3);
  padding-left: var(--track-item-height);
  margin: 5px 0;
  width: calc(100% - 20px);
  margin-right: 20px;
}

.track-item:hover {
  background-color: rgba(175, 175, 175, 0.307);
}

.track-title {
  display: flex;
  align-items: center;
}

.track-icon {
  position: absolute;
  display: flex;
  left: calc(var(--track-item-height) / 2);
  top: calc(var(--track-item-height) / 2);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.track-icon svg {
  color: var(--icon-fg);
  --track-icon-size: 25px;
  width: var(--track-icon-size);
  height: var(--track-icon-size);
  transition: all 0.2s ease-in-out;
}

.track-icon svg:hover {
  transform: scale(1.2);
}

.track-item.active .track-icon svg {
  color: var(--active-track-color);
  --track-icon-size: 30px;
}

.track-album-cover {
  display: flex;
  aspect-ratio: 1;
  height: 85%;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.track-title h2 {
  margin: 0px;
  font-size: 20px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.track-title h3 {
  margin: 0px;
  font-size: 20px;
}

.track-title p {
  margin: 0px;
  font-size: 14px;
}

.track-title span[data-info="text"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track-item.active .track-title h2 {
  color: var(--active-track-color);
}

#library {
  justify-items: center;
}

.library-content {
  display: flex;
  flex: 1 1 0%;
  width: calc(100% - (var(--main-border-size) * 2));
  box-sizing: border-box;
  margin: 0px var(--main-border-size);
}

.library-content-row {
  position: relative;
  display: flex;
  max-width: var(--row-width);
  min-width: var(--row-width);
  justify-content: center;
  gap: var(--item-gap);
  width: 100%;
  height: 100%;
}


.cover {
  object-fit: cover;
}

.album-item {
  display: flex;
  max-width: var(--item-width);
  min-width: var(--item-width);
  flex-direction: column;
  position: relative;

}

.album-item-image-wrapper svg {
  position: absolute;
  bottom: -100px;
  right: 20px;
  color: var(--icon-fg);
  width: 35px;
  height: 35px;
  z-index: 1;
  background-color: #3f3f3fa7;
  padding: 7px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.album-item-image-wrapper:hover svg {
  bottom: 20px;
}

.album-item-image-wrapper svg:hover {
  color: var(--icon-fg-hover);
  transform: scale(1.1);
}

.album-item.placeholder {
  cursor: default;
}

.album-item-image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10%;
  overflow: hidden;
  position: relative;

}

.album-item img {
  aspect-ratio: 1;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.album-item-image-wrapper:hover img {
  transform: scale(1.1);
}

.album-item img:hover {
  cursor: pointer;
}

.album-item span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-item h2 {
  margin: 6px 0px;
  font-size: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.album-item h3 {
  margin: 2px 0px;
  color: #818181;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.row-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.row-input h3 {
  margin: 0px;
}

.row-input-content {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.library-search {
  display: flex;
  width: 300px;
  height: 40px;
  background-color: var(--library-search-bg);
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding-right: 20px;
  margin-bottom: var(--top-frame-height);
  box-sizing: border-box;
}

.library-search input {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 15px;
  text-align: center;
}

.library-search svg {
  font-size: 30px;
  padding-left: 10px;
}

.library-search.track-list {
  margin-bottom: 0px;
  height: 30px;
  width: 300px;
  margin: 0px auto;
}

.library-search.track-list svg {
  font-size: 20px;
}

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.like-icon svg {
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
  color: white;

}

.like-icon[data-value="true"] svg {
  color: rgb(0, 255, 0);
}

.like-icon:hover svg {
  transform: scale(1.2);
}

.settings-dropdown {
  width: 200px;
}


.dropdown-main {
  display: flex;
  position: relative;
  background-color: green;
  width: 300px;
}

.dropdown-main-selected {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dropdown-main-list {
  display: flex;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1580px) {
  .item-grid {
    grid-template-columns: repeat(2, var(--rowWidth));
  }

  @media only screen and (max-width: 1080px) {
    .item-grid {
      grid-template-columns: repeat(1, var(--rowWidth));
    }
  }
}